/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
main {
  width: 100vw;
  overflow: hidden;
}
:root {
  /* dark shades of primary color*/
  --clr-primary-1: #000;
  --clr-primary-2: #718f94;
  --clr-primary-3: #90b494;
  --clr-primary-4: #96b798;
  /* primary/main color */
  --clr-primary-5: #9cb99b;
  /* lighter shades of primary color */
  --clr-primary-6: #a8bea1;
  --clr-primary-7: #bfc8ad;
  --clr-primary-8: #c6caae;
  --clr-primary-9: #cdccaf;
  --clr-primary-10: #f5fbef;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: #fff;
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  display: block;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5 !important;
  margin-bottom: 0.5rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 2rem;
  letter-spacing: var(--spacing);
}
h2 {
  font-size: 1.5rem;
  letter-spacing: var(--spacing);
}
h3 {
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
}
h4 {
  font-size: 1.2rem !important ;
  letter-spacing: normal;
}
p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  color: var(--clr-grey-4);
}
a,
a:visited,
a:hover,
a:active {
  color: inherit !important;
}
.item-text {
  line-height: 1.6em;
  font-size: 1.1em;
  font-weight: 700;
}
.timeline-title {
  font-size: 1em !important;
  padding: 0.5em 0;
  font-weight: 600;
  color: gray;
}
.codeback {
  background-color: #1a1a1a;
  color: #1da1f2;
  font-weight: 700;
  padding: 20px;
}

@media all and (max-width: 768px) {
  .left-but2,
  .right-but2 {
    position: absolute;
    top: -35px;
  }
  video {
    display: none;
  }
  .connect {
    margin: 0 !important;
    padding: 0;
  }
  .nav-logo {
    width: 50%;
  }
  .nav {
    height: 3rem !important;
  }
}
.nav-logo {
  width: 50%;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-grey-10);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section#blog {
  margin-bottom: 5vh;
}
.blogLink {
  color: var(--clr-grey-1) !important;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  display: flex;
  align-items: center;
}
.card:hover .blogLink {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: var(--clr-grey-1) !important;
}
.card:hover .blogLink {
}
.blogLink:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  color: var(--clr-grey-1) !important;
}
.blogLink .arrowCheck {
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: 100;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
  .blogpostsWrapper {
    padding: 40px;
  }
}
.navfooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 5vh;
}
.navfooter p {
  color: var(--clr-primary-1);
  font-weight: 900;
}
/* added during recording */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  text-align: center;
  position: relative;
}
.bg-grey {
  background: var(--clr-grey-10);
}
/*
=============== 
Navbar
===============
*/
.nav-links {
  display: none;
}
.nav {
  height: 5.5rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  z-index: 99999;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
  height: 90px !important;
}
.nav-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: end;
  margin: 0px 10px;
  position: fixed;
}
.resume {
  display: none !important;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 2em !important;
}
.resume:active {
  text-decoration: none;
}
#resume {
  margin-top: 1.2em;
  font-size: 1rem;
  margin-left: 1em;
}
.btn2 {
  font-size: 1.2em;
  padding: 0.5em;
  background-color: black;
  width: max-content;
  font-weight: 700;
  border-radius: 10px;
  color: white;
}
.btn2:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .nav {
    background: var(--clr-primary-10);
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    justify-self: end;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    font-weight: bold;
    letter-spacing: var(--spacing);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  }
}
/* fixed navbar */
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  background: var(--clr-white);
  z-index: 9999;
  box-shadow: var(--light-shadow);
}
.nav {
  max-width: 100vw !important;
  overflow: hidden;
  padding: 0 !important;
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary-10);
  z-index: 4;
  display: grid;
  /* align-items: center;
  justify-content: center; */
  place-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /* add later */
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* toggle sidebar */
.show-sidebar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--clr-grey-10);
  letter-spacing: var(--spacing);
  display: inline-block;
  margin-bottom: 1.5rem;
}
.sidebar-links a:hover {
  color: var(--clr-grey-10);
}
.social-icons {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 150px;
}
.social-icons li {
  font-size: 2em;
}
.social-icon.fb:hover {
  color: #3b5998 !important;
}
.social-icon.linkedin:hover {
  color: #0077b5 !important;
}
.social-icon.twitter:hover {
  color: #1da1f2 !important;
}
.social-icon {
  height: 40px;
}

.social-icon img {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.social-icon img:hover {
  color: var(--clr-primary-5);
  fill: var(--clr-primary-5);
}
.close-btn {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  background: transparent;
  border: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: #bb2525;
  cursor: pointer;
  z-index: 99999 !important;
}
.close-btn:hover {
  color: #e66b6b;
  z-index: 9999999999;
}
/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-img {
  display: none;
}
.hero {
  background: var(--clr-primary-10);
}
.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.hero-info h4 {
  color: var(--clr-grey-5);
}
.location {
  color: var(--clr-grey-5);
  font-size: 1.1em;
  font-family: var(--ff-primary);
  letter-spacing: 0.1em;
  font-weight: 800;
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.location img {
  width: 30px;
}

.hero-icons {
  justify-items: start;
}
.hero-btn {
  margin-top: 1.25rem;
}
@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    position: relative;
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }

  .hero-img::before,
  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.1rem solid var(--clr-primary-5);
    top: 2rem;
    right: -2rem;
    border-radius: var(--radius);
  }
}
.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  -o-object-fit: fill;
  object-fit: fill;
  border-radius: var(--radius);
  position: relative;
}
.blog-photo {
  border-radius: var(--radius);
  max-width: 40vw;
  margin: auto 0;
  margin: 2vh;
}
.blog-post-content ul:last-of-type {
  padding-bottom: 6vh;
}
.blog-post-content a {
  text-decoration: underline;
  color: #0077b5 !important;
}
.blog-post-content li {
  padding: 5px 0;
}
.language-javascript {
  display: flex;
}
/*
=============== 
About
===============
*/
/* section title added to globals */
.about-title {
  text-align: left;
  margin-bottom: 2rem;
}
.about-title .underline {
  margin-left: 0;
}
.about-center {
  display: grid;
  gap: 3rem 2rem;
}
.about-img {
  justify-self: center;
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    position: relative;
  }
  .about-img::before {
    left: -2rem;
  }
  .about-info {
    align-self: center;
  }
}
.about-info p {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.8em;
}
/*
=============== 
Services
===============
*/
/* bg-grey in globals */
.service {
  background: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.service:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}
.service:hover p {
  color: var(--clr-white);
}
.service:hover .underline {
  background: var(--clr-white);
}
@media (max-width: 500px) {
  code.language-javascript {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* talk about small screen 
without grid different setup */
/*
=============== 
Projects
===============
*/
.projects {
  margin-bottom: 2vh;
}

.projects-text {
  width: 85vw;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}
.project {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.project:hover .project-img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.project:hover .arrowCheck {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.arrowCheck {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.projectTitle {
  margin-top: 2.5em;
}
.carouselWrapper {
  max-width: 90vw;
}
.checkLive {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.checkLive .arrowCheck {
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: 100;
}
.texhnologiesWrapper {
  display: flex;
  flex-direction: column;
}
.texhnologiesWrapper h5 {
  font-weight: 700;
}
.techBadges {
  display: flex;
}
.techBadges img {
  width: 2em;
  margin: 10px;
}
.arrowCarousel {
  font-size: 2.5em !important;
}
.project-info {
  text-align: center;
  color: var(--clr-grey-1);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 1.2em;
  opacity: 0;
}
.project-info p {
  color: black;
  font-weight: 600;
  margin-top: 2em;
}

.project:hover .view-site,
.project:hover .project-info {
  opacity: 1;
  transition: 1s;
}
.project:active .view-site,
.project:active .project-info {
  opacity: 1;
  transition: 1s;
}

.project-info {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 85%;
  margin: auto 0;
  justify-content: center;
}

.view-site {
  opacity: 0;
  left: 5%;
  position: absolute;
  top: 3vh;
  cursor: pointer !important;
  font-weight: 900;
  color: var(--clr-grey-10);
  padding: 8px;
  z-index: 9999;
  background-color: var(--clr-grey-2);
  border-radius: var(--radius);
}
.project-info span {
  font-weight: 700;
  padding: 0.5em;
  background-color: var(--clr-grey-1);
  border-radius: var(--radius);
  color: var(--clr-grey-10);
  font-size: 0.85em;
}
.project-type {
  max-width: 20vh;
  position: absolute;
  left: -0.5em;
  top: -2em;
  text-align: center;
  font-size: 0.6em !important;
  padding: 0.1em !important;
  background-color: var(--clr-primary-10) !important;
  color: black !important;
}
.project-task {
  display: grid;
}
.project-task span {
  width: max-content;
  padding: 0;
  display: inline-flex;
  width: 100%;
  background-color: var(--clr-primary-10);
  color: var(--clr-grey-1);
}
.project-info h5 {
  font-weight: 800;
  text-align: left !important;
  justify-content: left;
  text-decoration: underline 2px;
  margin: 0.5em 0;
}
.project-info h5,
p {
  text-align: left;
  width: 100%;
}
.texhnologiesWrapper > p {
  min-height: 100px;
  margin-bottom: 0;
}
.project-img {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  width: 100%;
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}
@media (max-width: 1200px) {
  .carouselWrapper {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}
@media (max-width: 480px) {
  .carouselWrapper {
    margin-left: 20px !important;
    margin-right: 20px !important;
    padding: 0px !important;
  }
  .carouselWrapper .arrowCarousel.right {
    position: absolute !important;
    left: -20px !important;
    top: -30px !important;
  }
  .carouselWrapper .arrowCarousel.left {
    position: absolute !important;
    right: -20px !important;
    top: -30px !important;
  }
}
.project-titlelink {
  cursor: pointer !important;
}
.project-info-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.project-info-item span {
  max-width: max-content;
}
.project-techs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-techs img {
  height: 40px;
  width: auto;
}
.section-title p {
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 0 !important;
    margin-top: 2em !important;
    padding-top: 2em !important;
  }
  .section-title p {
    margin-bottom: 1em !important;
  }
  .project-cons {
    width: 18vw !important;
    position: absolute;
    right: -0.5em;
    top: -1em;
  }
  .form {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .video-banner {
    padding: 10vh 2vh 12rem 2vh !important;
  }
  .input-area {
    width: 90vw;
    margin: auto 0;
  }
  #nav {
    height: 0 !important;
  }
  img.logo {
    min-height: 35px !important;
    height: 35px !important;
  }
  .nav {
    background: var(--clr-primary-10) !important;
  }
}
.techwrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.techit {
  padding: 4px;
  background: white;
  border-radius: 7px;
  margin: 5px;
  box-shadow: 1px 1px 1px 1px #ccc;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
}
/* .techit:hover {
  background: var(--clr-primary-5) !important;
  color: var(--clr-grey-10) !important;
} */
.techit:active {
  background-color: inherit !important;
}
.selected {
  background: var(--clr-primary-5) !important;
  color: var(--clr-grey-10) !important;
}
.unselected {
  background: white !important;
  color: black !important;
}

@media screen and (max-width: 767px) {
  #projectcount {
    left: 33% !important;
  }
}

.left-but,
.right-but {
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  padding: 0 5px 0 5px;
  border: 2px solid var(--clr-primary-10);
  background: transparent !important;
}
.left-but2,
.right-but2 {
  padding: 10px;
  font-size: 2em;
  background: transparent !important;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .projects-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-text {
    text-align: center;
  }
  .projects {
    padding: 0;
  }
  .section-title {
    margin-bottom: 0 !important;
    padding-top: 3em !important;
  }

  .project-type {
    font-size: 0.8em !important;
    top: -3em;
  }
  .project-cons {
    width: 8vw !important;
    position: absolute;
    right: -0.5em;
    top: -1em;
  }
}
@media screen and (min-width: 992px) {
  .left-but,
  .right-but {
    background-color: var(--clr-primary-1) !important ;
    color: var(--clr-grey-10) !important;
  }
  .techit {
    padding: 10px;
    margin: 8px;
  }
  .projects-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-type {
    font-size: 0.6em !important;
    top: -3em;
  }
  #projects .section-title {
    margin-bottom: 0;
    margin-top: 3em !important;
  }

  .project-cons {
    width: 5vw !important;
    position: absolute;
    right: -0.5em;
    top: -1em;
  }
}

/*
=============== 
Connect
===============
*/
.connect {
  min-height: 40vh;
  position: relative;
  padding: 10rem 0 5rem 0;
  margin: 5rem 0;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -2;
}
.connect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  /* background: rgba(0, 0, 0, 0.6); */
  opacity: 0.7;
  z-index: -1;
}
.connect {
  display: grid;
  place-items: center;
}
.video-banner .section-title {
  margin-bottom: 2rem;
}
.video-text {
  max-width: 35rem;
  font-size: 1.2em;
  font-weight: 700;
}
.video-banner {
  background: var(--clr-primary-10);
  padding: 2rem 4rem 12rem 4rem;
  text-align: center;

  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}
.connect {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 10%,
    100% 90%,
    50% 100%,
    0 90%,
    0 10%
  );
  clip-path: polygon(50% 0%, 100% 13%, 100% 77%, 50% 100%, 0 77%, 0 13%);
}
/*
=============== 
Skills
===============
*/
@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
}
.skills {
  background: var(--clr-primary-9);
}
.skills h3 {
  margin: 1.5rem 0;
  color: var(--clr-primary-1);
}
.skill {
  margin-bottom: 1.25rem;
}
.skill p {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--clr-primary-1);
}
.skill-container {
  background: var(--clr-white);
  height: 1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
}
.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--clr-primary-5);
  height: 100%;
  width: 50%;
  border-radius: var(--radius);
}
.value-70 {
  width: 70%;
}
.value-80 {
  width: 80%;
}
.skill-text {
  position: absolute;
  top: -2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.skill-text-70 {
  left: 70%;
}
.skill-text-80 {
  left: 80%;
}
/*
=============== 
Timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
}
.timeline-item {
  border-top: 2px dashed var(--clr-primary-5);
  margin: 0;
  padding: 2rem 1.5rem;
  position: relative;
}
.timeline p {
  margin-bottom: 0;
}
.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--clr-primary-5);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;

  margin-right: 2rem;
  padding-right: 0;
}
.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--clr-primary-5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}
.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}
.timeline-item:last-child {
  border-bottom-left-radius: 0;
}
.number {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--clr-primary-5);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--clr-primary-1);
  font-weight: bold;
}
.timeline-item:nth-child(even) .number {
  left: 0;
}
.timeline-item:nth-child(odd) .number {
  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
/*
=============== 
Blog
===============
*/
.blog {
  background: var(--clr-grey-10);
}
#blog .section-title {
  margin-bottom: 0;
  margin-top: 2em;
}
.card {
  height: 25rem;
  position: relative;
  /* talk later */
  -webkit-perspective: 1500px;
  perspective: 1500px;
  box-shadow: 1px 1px 1px #888888;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  overflow: hidden;
  margin: 1em;
  cursor: pointer;
}
.card:hover,
.card img {
  transition: all 0.25s;
}

.card:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.25s;
}

.card-info h4 {
  line-height: 1.2em;
}
.card-side {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
}
.card-front {
  background: var(--clr-white);
}
.card-front img {
  width: 100%;
}
.card-back {
  background: var(--clr-primary-10);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}
.card:hover .card-front {
}

/* rest of the styles */
.card-info {
  padding: 15px;
}
.card-front img {
  height: 8rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.card-footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
.card-footer:hover {
  color: var(--clr-primary-10) !important;
}

.card-footer img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.card-footer p {
  margin-bottom: 0;
  text-transform: uppercase;
  justify-self: end;
  font-weight: 800;
  color: #85144b !important;
  cursor: pointer;
}
.blog-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}

/*
=============== 
Footer
===============
*/
.gatsbyicon:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #663399);
}
.footer {
  padding-bottom: 2rem;
  background: #222;
  display: grid;
  place-items: center;
}
.footer .social-icons {
  margin-bottom: 2rem;
}
.footer .social-icons li {
  color: var(--clr-primary-5);
}
.footer .social-icon:hover {
  color: var(--clr-primary-10) !important;
}
.footer .social-icon.linkedin:hover {
  color: #0077b5 !important;
}
.footer p {
  font-size: 1.25rem;
  text-transform: capitalize;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.fa-facebook {
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  height: 40px;
}
.fa-facebook:hover {
  background-color: white;
}
.fa-home {
  height: 25px;
}
.fa-home:hover {
  transform: scale(1.3);
  transition: 1s;
}
/*
=============== 
Single Page
===============
*/
.single-page {
  background: var(--clr-white);
  min-height: calc(100vh - 5rem - 198px);
}
.single-page .postDate {
  font-style: italic;
  color: var(--clr-grey-5);
}

.page-info {
  max-width: 700px;
}
.page-info a {
  text-transform: uppercase;
  /* color: var(--clr-primary-5); */
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.page-info a:hover {
  color: var(--clr-primary-1);
}

@media (max-width: 767px) {
  .single-page {
    padding-top: 2rem;
  }
  .section-title {
    width: 90vw;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .blog-footer {
    bottom: -12vh !important;
  }
}
@media (max-width: 768px) {
  .projects {
    padding: 20px;
  }
  .connect {
    padding: 4rem 0 5rem 0;
  }
  #blog {
    padding: 0 !important;
  }
}
/*
=============== 
Products Page
===============
*/
.projects-hero {
  height: 40vh;
  background: var(--clr-primary-10);
  display: grid;
  place-items: center;
}
.projects-hero .section-title {
  margin-bottom: 0;
}
.single-project {
  background: var(--clr-grey-10);
  border-radius: var(--radius);
}
.project-container img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.project-container {
  position: relative;
}
.project-icon {
  position: absolute;
  font-size: 1.75rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  width: 4rem;
  height: 4rem;
  display: grid;
  place-items: center;
  background: var(--clr-primary-5);
  border-radius: 50%;
  color: var(--clr-primary-1);
  border: 0.375rem solid var(--clr-grey-10);
}
.project-details {
  padding: 2rem 1.5rem;
}
.project-details p {
  font-size: 1.2em;
}
.project-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--clr-primary-5);
}
.project-footer a {
  color: var(--clr-primary-5);
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  justify-self: end;
}
.project-footer a:hover {
  color: var(--clr-primary-1);
}
.projects-page-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 3rem 1rem;
}

form {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form button {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  align-self: center;
  width: 100px;
}
.input-area {
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
}
textarea {
  height: 10vh;
  padding-left: 3em;
  padding: 1em;
}
form input {
  height: 4vh;
  padding: 1em;
  padding-left: 1em;
  position: relative;
}
.label-name {
  position: absolute;
  left: 1.1em;
  font-weight: 700;
  font-size: 0.8em;
  top: -0.5em;
}
input,
textarea {
  font-family: "Recursive", sans-serif;
  border: none;
}
input:active,
textarea:active,
input:focus,
textarea:focus {
  box-shadow: 5px 5px 2.5px #888888;
  border: none;
}

/*
=============== 
Testimonials Section
===============
*/
.awssld__container,
.awssld__wrapper,
.awssld,
.awssld--organic-arrows,
.awssld__box .awssld--active,
.awssld__content {
  background-color: var(--clr-primary-10) !important;
  min-height: 70vh;
}
.testimonials {
}
.testimonials h2 {
  text-align: center;
  font-size: 1.3em;
}
.testimonials h3 {
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
}
.testimonials p {
  width: 90vw;
  line-height: 2em;
  font-weight: 700;
  font-size: 1.1em;
}
.testimonials img {
  max-width: 35vw;
  margin: auto 0;
}
.quote-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.testimonials {
  margin-top: 5vh;
}
@media (min-width: 768px) {
  .awssld__container,
  .awssld__wrapper,
  .awssld,
  .awssld--organic-arrows,
  .awssld__box .awssld--active,
  .awssld__content,
  .testimonials {
    max-height: 45vh !important;
    min-height: 45vh;
  }
  .testimonials img {
    max-width: 20vw;
  }
  .testimonials p {
    width: 80vw;
  }
}
@media (min-width: 992px) {
  .testimonials p {
    width: 70vw;
  }
  .testimonials img {
    max-width: 15vw;
  }
  .awssld__container,
  .awssld__wrapper,
  .awssld,
  .awssld--organic-arrows,
  .awssld__box .awssld--active,
  .awssld__content,
  .testimonials {
    max-height: 50vh !important;
    min-height: 50vh;
  }
}

/* Search Bar */
.searchbarWrap {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: max-content;
  margin: auto;
}
.searchbar {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 40px;
  width: 300px;
  border: 1px solid var(--clr-primary-1);
  border-radius: 10px;
  font-size: 1.5em;
}
.searchbar:focus {
  border-radius: 10px !important;
}
.searchicon {
  font-size: 1.5em;
  position: absolute;
  left: 30px;
  top: 35px;
}

.blogpostsWrapper {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(350px, 1fr)
  ); /* see notes below */
  grid-template-rows: auto;
  column-gap: 20px;
  padding-bottom: 30px;
}

@media (min-width: 1440px) {
  .searchbarWrap {
    position: absolute;
    right: 2.5vw;
    top: 13vh;
  }
}

@media (min-width: 1023px) and (max-width: 1439px) {
  .searchbarWrap {
    position: absolute;
    right: 0.5vw;
    top: 13vh;
  }
}
.mailwrap {
  display: flex;
  align-items: center;
  text-align: center;
}
.mailicon {
  font-size: 1.5em;
  margin-left: 5px;
}
.mailbtn {
  display: flex;
  align-items: center;
}

/* @media (max-width:1023px){
  .searchbarWrap{
    width:100vw;
    background: var(--clr-primary-10);
  }
  .searchicon{
    left: 32vw;
  }
} */

.aboutPageImage {
  width: 100% !important;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.aboutPageLink {
  text-transform: unset !important;
}
